[package]
name = "compiler"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
inkwell = { version = "0.6.0", features = ["llvm14-0"] }
lazy_static = "1.5.0"
regex = "1.10.4"
thiserror = "2.0.17"
